
*{
    box-sizing: border-box;
   
}

::-webkit-scrollbar{
    display:none;

}

html{
    scroll-behavior: smooth;
}

*:before,*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #da7c3d;
    --secondary-color: #933b88;
    --tertiary-color: #443cac;
  }

body{
    margin:0;
    padding: 30px 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(170deg,#222,#000 90%);

}

h2{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
}


/*Scroll to Top Button*/

.scroll_btn{ 
    
    position:fixed;
    bottom:0px;
    right:50px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease, transform 0.25s ease;
    color: white;
}

.scroll_btn.active-btn{
    bottom:90px;
    visibility: visible;
    opacity: 1;

}

.scroll_btn:hover{
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.1);
}





/* Reveal */
.reveal{
    position:relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.reveal_btn{
    position:relative;
    transform: translateY(0px);
    opacity: 0;
    
}

.reveal_btn.active{
    transform: translateY(150px);
    opacity: 1;
    
}

.landing_page{
    padding: 0 5%;
}

/* Navigation Bar */
.logo{
    
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color:white;
    cursor: pointer;
    margin-right: auto;
    text-decoration: none;
    transition: all 1s ease;
    letter-spacing: 1.5px;
    animation: slide-in-bottom 1.25s cubic-bezier(.39,.575,.565,1);
    animation-delay: 0s;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-3.75rem) translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateZ(0);
    }

}

.logo:hover{
    transform: scale(1.1);
}

.logo:hover i{
    transform: rotateZ(450deg);
}

.vinyl{ 
    color:white;
    margin: 0 3px;
    transition: all 1s ease;
    
}



header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}



.nav_links{
    list-style:none;
   
}

.nav_links li, .nav_links a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    animation: slide-in-bottom 1s cubic-bezier(.39,.575,.565,1) forwards;
    animation-delay: 0.25s;
    opacity: 0;
}

.nav_links li{
     display: inline-block;
     position: relative;
     margin: 0 20px;
     padding: 0 0 5px 0;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    color: #fff;
}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
}

.nav_links li:before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    right:0;
    bottom:0;
    background-color:black;
    transition: width 0.5s ease-out;
    background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color));
}

.nav_links li:hover::before{
    width: 100%;
    left:0;
    right: auto;
}



/* introduction */


.introduction{
    margin:0 auto;
    text-align: left;
    
}

.back-img{
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
    width: 50%;
    animation: slide-in-bottom 1s cubic-bezier(.39,.575,.565,1) both;
    animation-delay: 1.25s;
}

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(3.75rem) translateZ(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateZ(0);
    }

}


.intro-text{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    width: 50%;
    margin: 15% 0 5% 0;
    background-image: radial-gradient(circle at 30% 85%,var(--primary-color) 0,var(--secondary-color) 35%,var(--tertiary-color) 55%);
    -webkit-background-clip: text;
    color: transparent;
    animation: slide-in-bottom 1s cubic-bezier(.39,.575,.565,1) both;
    animation-delay: 1.5s;
    
}

.btn {
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 5px;
    font-weight: 700;
    margin:0 auto 17.5% auto;
    color: rgba(255,255,255,0.75);
    font-size: 1rem;
    background-color: rgba(0,0,0,0.01);
    padding:15px 5%;
    text-decoration: none;
    letter-spacing: 1px;
    border-width: 1px;
    transition: all 0.5s ease 0s, background-color 0.25s ease 1s;
    animation: slide-in-bottom 1s cubic-bezier(.39,.575,.565,1) both;
    animation-delay: 1.5s;
    
    
}

.btn span{
    display: block;
    position: absolute;
    background-image: radial-gradient(circle at 30% 85%,var(--primary-color) 0,var(--secondary-color) 35%,var(--tertiary-color) 55%);
}


.btn:hover {
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn span:nth-child(1){
    left:0;
    bottom:0;
    width:2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition:transform 0.5s ease;
}

.btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition:transform 0.5s ease;
}

.btn span:nth-child(2){
    left:0;
    bottom:0;
    width:100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform 0.5s ease;
}

.btn:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition:transform 0.5s ease;
    
}

.btn span:nth-child(3){
    right:0;
    bottom:0;
    width:2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition:transform 0.5s ease;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition:transform 0.5s ease;
    transition-delay: 0.5s;
}

.btn span:nth-child(4){
    left:0;
    top:0;
    width:100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform 0.5s ease;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition:transform 0.5s ease;
    transition-delay: 0.5s;
}




/* Flipping Cards */

.about_game_heading{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.75rem;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    
}

.card{
    margin:50px 25px 150px;
    width:400px;
    height:400px;
}

.card_inner{
    width:100%;
    height: 100%;
    transition:transform 1s;
    transform-style:preserve-3d;
    position:relative;
    transition: all 1.25s ease 0s;
}

.card_inner:hover{
    transform: rotateY(180deg);
}

.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.0.15);
    text-align: center;
    cursor: pointer;
}

.fav-artist-img{
    width: 400px;
    height: 325px;
    border-radius: 16px 16px 0 0;
}


.fav-artist-title{
    margin:20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}

.card_face--back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-artist-desc{
    width: 80%;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}


.bb-hot100-img{
    width: 400px;
    height: 325px;
    border-radius: 16px 16px 0 0;
    
}

.bb-hot100-title{
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}
  
.bb-hot100-desc{
    width: 80%;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; 
    font-size: 1rem;
}


/* Rules */
#rules{
    background-color: rgba(255,255,255,0.05);
    padding: 150px 0 150px 0;
}

.rule_heading{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    padding: 0 0 50px 0;
    color: white;
}

.rule{
    width: 70%;
    margin: 0 auto;
    text-align: left;

}

.rule-list{
    list-style:none;
    position: relative;
    width:90%;
    margin:0px auto 5%;
    padding: 10px;
    box-sizing: border-box;
}

.rule-list li{
    display: flex;
    background: #09090a;
    padding:10px 20px;
    margin: 5px 0;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color:  rgba(255,255,255,0.7);
    text-decoration: none;
    align-items: center;
    line-height: 1.5;
    border-radius: 16px;
}

.rule-list li:nth-child(1)
{
    background: rgba(255,255,255,0.12);
}
.rule-list li:nth-child(2)
{
    background: rgba(255,255,255,0.1);
}
.rule-list li:nth-child(3)
{
    background: rgba(255,255,255,0.07);
}
.rule-list li:nth-child(4)
{
    background: rgba(255,255,255,0.05);
}
.rule-list li:nth-child(5)
{
    background: rgba(255,255,255,0.02);
}

.rule-list li span:nth-child(1)
{
    width:10%;
}

.rule-list li span:nth-child(2)
{
    width:80%;
}

.rule-list li:hover{
    transform: scale(1.06);
    background-color:black;
}

.spotify{
    padding: 0 5px;
    font-weight: bold;
}

.icon{
    padding:10px 10px;
    font-size: 1.25rem;
}

/*About*/
.about_us{
    width: 80%;
    margin: 8% auto 10% auto;
}

.about_heading{
    padding: 0 0 15% 0;
    color: white;
    margin: 0;
}

.dev-container{
    display: flex;
    justify-content: space-around;
}

.album-cover{
    position: relative;
    width: 300px;
    height: 300px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: -2;
    box-shadow: 0px 12px 20px -10px rgba(0,0,0,0.7) ;
    cursor: pointer;
    border-radius: 2px;
    opacity: 0.75;
} 

.ritwik-img{
    width: 100%;
    height: 100%;
}

.mayur-img{
    width: 100%;
    height: 100%;
}

.vinyl-img{
    width: 161px;
    height: 300px;
    position: absolute;
    top:0;
    left:170px;
    z-index: -1;
    transition: transform 1s ease 0.15s;
}

.album-cover:hover{
    box-shadow: 5px 12px 20px -10px rgba(0,0,0,0.7) ;
    opacity: 1;
}

.album-cover:hover > .vinyl-img{
    transform: translateX(130px);
    box-shadow: -100px 7px 20px -10px rgba(0,0,0,0.5) ;
}

.album-cover>a{
    color: #E4DCD1;
    position: absolute;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    transition: transform 1s ease 0.15s, opacity 1s ease;
    z-index: -1;
    opacity: 0.2;
}

.album-cover :nth-child(3)
{
    top:40px;
    left:200px;
}

.album-cover :nth-child(4)
{
    top:120px;
    left:250px;
}

.album-cover :nth-child(5)
{
    bottom:40px;
    left:200px;
}

.album-cover:hover{
    transform: scale(1.1);

}

.album-cover:hover > a {
    opacity: 0.2;
    transform: translateX(130px);
}

.album-cover:hover > a:hover {
    opacity: 1;
}

.album-cover p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}


/* Footer */
.footer .hr{
    width:80%;
    background-color:rgba(255,255,255,0.2);
    height: 1px;    
    margin: 0px auto 40px auto;
}

.footer{
    margin: 20% 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
    text-align: center;
}


